* {
	box-sizing: border-box;
}

body {
	background: #f7f7f7;
}

.flex-card-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}


.flex-card-listitem {
	display: flex;
	list-style: none;
}

.flex-card-image img{
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
}

.flex-card h3 {
	margin: 1em 0;
}


.flex-card {

	display:flex;
	flex-direction:column;
	background: #fff;
	border-radius: 8px;
	margin: 1em;
	padding: 1em;
	z-index: 2;
	box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.2);

}

.flex-card-content {

	display:flex;
	flex:1 0 auto; /* We have to add a basis for IE10/11 */
	flex-direction:column;

}

.flex-card-content p {
	flex:1 0 auto; /* We have to add a basis for IE10/11 */
}

/* Code to adjust the layout to 2 cards per row */
@media all and (min-width:40em) {

	/* Float layout */
	.flex-card-list li {
		width:50%;
	}
	.no-flexbox .flex-card-list li {
		float:left;

	}

}
/* Code to adjust the layout to 3 cards per row */
@media all and (min-width:40em) and (max-width:60em) {

	/* Clears the row for 2 item per row layout */
	.no-flexbox .flex-card-list li:nth-child(2n+1) {
		clear:both;
	}
}
@media all and (min-width:60em) {

	/* common to flex and non-flex */
	.flex-card-list li {
		width:33.33%;
	}

	/* Float specific: Clear after every third item */
	.no-flexbox .flex-card-list li:nth-child(3n+1) {
		clear:both;
	}


}

