highlight = #1976D2;
accent = #C2185B;

whiteBarelyTransparent = rgba(255,255,255,0.9);

blackTransparent = rgba(0,0,0,0.6);
blackVeryTransparent = rgba(0,0,0,0.2);
blackBarelyTransparent = rgba(0,0,0,0.9);